<o-form-layout-manager attr="Position" mode="tab" title="POSITION">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="PositionTable" 
            service="Position" 
            entity="Position" 
            title="POSITION"
            keys="id"
            columns="id;title;salary_grade" 
            header-actions="R;D"
            visible-columns="id;title;salary_grade"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #title attr="title" title="title" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #salary_grade attr="salary_grade" title="salary_grade" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>