<o-form #EmployeeForm attr="Employee_form_insert" service="Employee" entity="Employee" 
keys="id" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-text-input #first_name attr="first_name" label=" first_name*" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-list-picker 
        attr="department_id"
        service="Department" 
        entity="DepartmentType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;department_id;name" 
        title="department_id"
        visible-columns="id;name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-list-picker 
        attr="manager_id"
        service="Employee" 
        entity="EmployeeType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;manager_id;first_name" 
        title="manager_id"
        visible-columns="id;first_name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-list-picker 
        attr="position_id"
        service="Position" 
        entity="PositionType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;position_id;id" 
        title="position_id"
        visible-columns="id;id" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-text-input #last_name attr="last_name" label="last_name" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>